.navbar {
  flex: none;

  background-color: var(--bg-color-theme);;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.navbar__logo {
  width: 32px;
  height: 32px;
}

.navbar__label {
  margin: 0;
}